header{
    background-color: #000;
    padding: 1%;
}

.cabecalho{
    color: #9400D3;
    font-size: 30px;
    text-align: right;
}

.logo{
    color: white;
    font-size: 30px;
    text-align: left;
    display: inline-block;
}

.botoes{
    padding: 10px;
    display: inline-block;
}

body{
    background-image: url("https://data.1freewallpapers.com/download/fractal-rays-radiation-purple-abstraction-2560x1920.jpg");
}

footer{
    color: white;
    background-color: #9400D3;
    text-align: center;
    padding: 1%;
    font-size: 18px;
}